<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - Melbourne - Love</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Can i leave now?</p>
  </body>
</html>
